ANTHROPIC_API_KEY=
JIRA_BASE_URL=https://yourinstance.atlassian.net
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=
OBSIDIAN_VAULT_PATH=C:\Users\NickW\iCloudDrive\iCloud~md~obsidian\Nicks knowledge base
PORT=3001
